<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

<bean id="accountings" class="be.dafke.Accounting.Objects.Accounting.Accountings" scope="singleton" init-method="fromXML"/>

<bean id="movements" class="be.dafke.Accounting.Objects.Coda.Movements" scope="singleton"/>

<bean id="counterparties" class="be.dafke.Accounting.Objects.Coda.CounterParties" scope="singleton"/>

<!-- Main GUI -->
<bean id="accountingMainPanel" class="be.dafke.Accounting.GUI.MainWindow.AccountingGUIFrame" scope="singleton">
	<constructor-arg>
		<value>Boekhouding</value>
	</constructor-arg>
	<constructor-arg ref="menubar"/>
	<constructor-arg ref="contentPanel"/>
	<constructor-arg ref="accountings"/>
</bean>

<alias name="accountingMainPanel" alias="mainPanel"/>

<!-- Menu Bar -->
<bean id="menubar" class="be.dafke.Accounting.GUI.MainWindow.AccountingMenuBar" scope="singleton" init-method="activateButtons">
	<constructor-arg ref="accountings"/>
</bean>

<!-- Content Panel -->
<bean id="contentPanel" class="be.dafke.Accounting.GUI.MainWindow.AccountingGUIPanel">
	<constructor-arg ref="journalGui"/>
	<constructor-arg ref="journalsGui"/>
	<constructor-arg ref="accountsGui"/>
	<constructor-arg ref="mortgagesGui"/>
</bean>

<!-- Details -->
<bean id="accountDetails" class="be.dafke.Accounting.GUI.Details.AccountDetails" parent="refresableTable" scope="prototype"/>
<bean id="journalDetails" class="be.dafke.Accounting.GUI.Details.JournalDetails" parent="refresableTable" scope="prototype"/>

<!-- Main GUI components -->
<bean id="journalGui" class="be.dafke.Accounting.GUI.MainWindow.JournalGUI"/>
<bean id="journalsGui" class="be.dafke.Accounting.GUI.MainWindow.JournalsGUI"/>
<bean id="accountsGui" class="be.dafke.Accounting.GUI.MainWindow.AccountsGUI"/>
<bean id="mortgagesGui" class="be.dafke.Accounting.GUI.MainWindow.MortgagesGUI"/>

<!-- Balances -->
<bean id="testBalance" class="be.dafke.Accounting.GUI.Balances.TestBalance" parent="refresableBalance" scope="singleton">
	<constructor-arg ref="testBalanceDataModel"/>
</bean>
<bean id="yearBalance" class="be.dafke.Accounting.GUI.Balances.YearBalance" parent="refresableBalance" scope="singleton">
<!--<constructor-arg value="Eindbalans"/> -->
	<constructor-arg ref="yearBalanceDataModel"/>
</bean>
<bean id="resultBalance" class="be.dafke.Accounting.GUI.Balances.ResultBalance" parent="refresableBalance" scope="singleton">
<!--<constructor-arg value="Resultatenbalans"/> -->
	<constructor-arg ref="resultBalanceDataModel"/>
<!--<constructor-arg value="AccountType.Cost"/> -->
<!--<constructor-arg value="AccountType.Revenue"/> -->
</bean>
<bean id="relationsBalance" class="be.dafke.Accounting.GUI.Balances.RelationsBalance" parent="refresableBalance" scope="singleton">
<!--<constructor-arg value="Schulden- en tegoedenbalans"/> -->
	<constructor-arg ref="relationsBalanceDataModel"/>
<!--<constructor-arg value="AccountType.Debit"/> -->
<!--<constructor-arg value="AccountType.Credit"/> -->
</bean>

<!-- Balance Data Models -->
<bean id="testBalanceDataModel" class="be.dafke.Accounting.GUI.Balances.TestBalanceDataModel" scope="singleton" />
<bean id="yearBalanceDataModel" class="be.dafke.Accounting.GUI.Balances.YearBalanceDataModel" scope="singleton" />
<bean id="resultBalanceDataModel" class="be.dafke.Accounting.GUI.Balances.ResultBalanceDataModel" scope="singleton" />
<bean id="relationsBalanceDataModel" class="be.dafke.Accounting.GUI.Balances.RelationsBalanceDataModel" scope="singleton" />

<!-- Account Management -->
<bean id="newAccountGUI" class="be.dafke.Accounting.GUI.AccountManagement.NewAccountGUI" parent="refresableFrame" scope="singleton">
	<constructor-arg ref="newAccountDataModel"/>
</bean>
<bean id="newAccountDataModel" class="be.dafke.Accounting.GUI.AccountManagement.NewAccountDataModel" scope="singleton"/>

<!-- Journal Management -->
<bean id="newJournalGUI" class="be.dafke.Accounting.GUI.JournalManagement.NewJournalGUI" parent="refresableFrame" scope="singleton">
	<constructor-arg ref="journalTypes"/>
    <constructor-arg ref="newJournalDataModel"/>
</bean>
<bean id="journalTypes" class="be.dafke.Accounting.Objects.Accounting.JournalTypes"/>
<bean id="newJournalDataModel" class="be.dafke.Accounting.GUI.JournalManagement.NewJournalDataModel" scope="singleton"/>

<!-- Journal Type Management -->
<bean id="newJournalTypeGUI" class="be.dafke.Accounting.GUI.JournalManagement.NewJournalTypeGUI" parent="refresableFrame" scope="singleton">
<!-- <constructor-arg ref="newJournalTypeDataModel"/> -->
</bean>
<!-- <bean id="newAccountDataModel" class="be.dafke.Accounting.GUI.AccountManagement.NewAccountDataModel" scope="singleton"/>  -->

<!-- Project Management -->
<bean id="projectManagerFrame" class="be.dafke.Accounting.GUI.Projects.ProjectManagerFrame" scope="singleton">
	<constructor-arg ref="accountings"/>
</bean>

<bean id="mortgageGui" class="be.dafke.Accounting.GUI.MortgageManagement.MortgageGUI" scope="singleton" init-method="refresh"/>
<bean id="mortgageCalculatorGui" class="be.dafke.Accounting.GUI.MortgageManagement.MortgageCalculatorGUI" scope="singleton"/>
<bean id="mortgageTable" class="be.dafke.Accounting.GUI.MortgageManagement.MortgageTable" scope="prototype"/>
<!--
<bean id="genericMovementDataModel" class="be.dafke.Accounting.GUI.CodaManagement.GenericMovementDataModel" scope="prototype"/>
<bean id="counterPartyTable" class="be.dafke.Accounting.GUI.CodaManagement.CounterPartyTable" scope="singleton">
	<constructor-arg ref="counterPartyDataModel"/>
</bean>
<bean id="counterPartyDataModel" class="be.dafke.Accounting.GUI.CodaManagement.CounterPartyDataModel" scope="singleton"/>

<bean id="counterPartySelector" class="be.dafke.Accounting.GUI.CodaManagement.CounterPartySelector" scope="prototype"/>

<bean id="movementTable" class="be.dafke.Accounting.GUI.CodaManagement.MovementTable" scope="singleton">
	<constructor-arg ref="movementDataModel"/>
</bean>
<bean id="movementDataModel" class="be.dafke.Accounting.GUI.CodaManagement.MovementDataModel" scope="singleton"/>
 -->
<jdbc:embedded-database type="H2" id="dataSource">
	<jdbc:script location="create.sql"/>
	<jdbc:script location="data.sql"/>
</jdbc:embedded-database>
<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
	<property ref="dataSource" name="dataSource"/>
</bean>

</beans>